


body{
    background-color: green;
}

.spade {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.heart {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.diamond {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.club {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.h2 {
    text-align: center;
}


.card{
    background: white; width: 325px; height: 475px; margin: auto;
    border-radius: 25px;
}

.card-number{
    text-align: center;
    font-size: 80px;
    margin: 120px;
    
}


.container.card::after{
    display: block;
    margin: 1500px;
    
}

.top-left-icon{
    text-align: left;
    margin-left: 10px;
    font-size: 55px;
    color: red;
    
}


.bot-right-icon{
    float: right;
    margin-right: 10px;
    font-size: 55px;
    color: red;
    margin-bottom: 20px;
    transform: rotate(180deg);
}